


.profile-img {
  width: 70%;
  max-width: 150px;
  height: auto;
}
@media only screen and (max-width: 578px){
  * {text-align: center;}

}

  @media only screen and (max-width: 578px){
    * {
    text-align:center;
    font-size: 0.9em;

    }
    h1, h2, h3, h4, h5, h6 {
    font-size: 2em;

    }
    .carousel-quote-fz {
        font-size: 1rem;
      }
      .blockquote {
        font-size: 1rem;
      }
      .carousel-img{
        align-items: flex-start !important;
        text-align: center !important;
      }
  
  }

  .pink-bg {
    background-color: #c271ff;
    color: #c271ff;
  }
  
  .pink-text {
    color: #c271ff;

  }

  .pink-border {
    border-color: #c271ff;
  }



  .carousel-section {
    height: 200px !important;  }

    .cards-wrapper {
        display: flex;
        justify-content: center;
      }
      .card img {
        max-width: 300px;
        max-height: 154px;
      }

      .card {
        width: 290px;
      }


      .ph-avatar{
        max-width: 30px !important;
        max-height: 30px !important;
      }


      .play-btn {
        margin: -110px 0 40px 97px;

      }



      .bg-black {
        background-color: black;
      }
 
.my-p {
  font-size: 12px;
}


.my-headear {

}

.form-control{
  
  height: 60px;
}

.my3_carousel{

}


.star-size{
  width: 20px;
  height: 20px;
}
