.profile-img {
    width: 70%;
    max-width: 150px;
    height: auto;
  }


  @media (max-width: 576px) {
    * {
    text-align:center;
    font-size: 0.9em;

    }
    h1, h2, h3, h4, h5, h6 {
    font-size: 2em;

    }
    .carousel-quote-fz {
        font-size: 1rem;
      }
      .blockquote {
        font-size: 1rem;
      }
      .carousel-img{
        align-items: flex-start !important;
        text-align: center !important;
      }
  
  }

  @media (min-width: 577px) {
    .align-items-center {
      align-items: center !important;
    }
  }





  .pink-bg {
    background-color: #c271ff;
    color: #c271ff;
  }
  
  .pink-text {
    color: #c271ff;

  }

  .pink-border {
    border-color: #c271ff;
  }



  .carousel-section {
    height: 200px !important;  }

    .cards-wrapper {
        display: flex;
        justify-content: center;
      }
      .card img {
        max-width: 2550px;
        max-height: 154px;
      }

      .card {
        width: 275px;
      }


      .ph-avatar{
        max-width: 30px imo !important;
        max-height: 30px !important;
      }


      .play-btn {
        margin: -110px 0 40px 97px;

      }
